# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*.local
!.env.example

# Build output
.next/
out/
dist/

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Nextra cache
.cache/

# Optional: vercel CLI local config
.vercel/

# Turborepo (si usas monorepo)
turbo/

# Optional: local next config override
next.config.mjs.local
# dockitai.config.json
content
public/assets
